.chat-room-container {
    width: 80%;
    margin-top: 50px;
    margin-bottom: 50px;
    border: 1px solid black;
    height: 100vh; /* 85% of viewport height */
    /* margin: auto; */
    overflow-y: auto; /* Add vertical scrollbar if content overflows */
    display: flex;
    flex-direction: column;
    justify-self: center;
}

.messages-container {
    display: flex;
    flex: 1;
}

.other-messages {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
}

.own-messages {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
}

.message {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.message-content {
    background-color: #f2f2f2;
    padding: 10px;
    border-radius: 10px;
}

.message-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.user-name {
    font-weight: bold;
}

.timestamp {
    font-size: 12px;
}

.message-input-container {
    display: flex;
    width: 100%;
    margin-top: 10px;
}

.message-input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
}

.send-button {
    padding: 10px 20px;
    border: none;
    border-radius: 0 5px 5px 0;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

.send-button:hover {
    background-color: #0056b3;
}
