body, html {
  margin: 0;
}

.review-h1 {
  text-align: center;
  font-size: 50px;
  font-family: Actor;
  font-weight: 500;
  color: #16BBB2;
}

.review-p {
  text-align: center;
  font-family: Actor;
  font-size: 18px;
  color: #333;
  font-weight: 400;
}

.review-btn {
  color: white;
  border: none;
  cursor: pointer;
}

.review-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 30px;
  margin: auto;
  margin-top: 10px;
  max-width: 800px;
  border: 2px solid black;
  border-radius: 15px;
  height: auto;
}

.review-animation-body {
  background-color: #16BBB2;
  padding: 30px;
  border-radius: 8px;
  color: white;
  flex: 1;
}

.review-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  flex: 1;
}

.review-form .input-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.review-form label {
  font-family: Actor;
  color: #333;
  font-weight: 400;
}

.review-form textarea {
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 50px;
  outline: none;
  padding: 8px;
}

.review-form textarea:focus {
  border-color: white;
}

.review-form button {
  background-color: #16BBB2;
  color: white;
  padding: 10px;
  width: fit-content;
  border: none;
  border-radius: 5px;
  align-self: flex-end;
}

.star-rating {
  font-size: 24px;
}

.star, .star-filled {
  color: #ccc;
  cursor: pointer;
}

.star-filled {
  color: #fdd835;
}

/* Media Queries for responsiveness */
@media (max-width: 768px) { /* Tablet */
  .review-h1 {
    font-size: 40px;
  }
  .review-p {
    font-size: 16px;
  }
  .review-container {
    flex-direction: column;
    padding: 0px;
    margin-top: 0px;
  }
  .review-animation-body,
  .review-form {
    padding: 20px;
  }
}

@media (max-width: 425px) { /* Mobile Large */
  .review-h1 {
    font-size: 30px;
  }
  .review-p {
    font-size: 14px;
  }
  .review-container {
    margin-top: 0px;
    padding: 0px;
  }
  
}

@media (max-width: 375px) { /* Mobile Medium */
  .review-h1 {
    font-size: 28px;
  }
  .review-p {
    font-size: 13px;
  }
  .review-container {
    padding: 0px;
    margin-top: 0px;
  }
  
}

@media (max-width: 320px) { /* Mobile Small */
  .review-h1 {
    font-size: 26px;
  }
  .review-p {
    font-size: 12px;
  }
  .review-container {
    padding: 0px;
    margin-top: 0px;
  }
}
