.box-userbody {
  margin-left: 25px;
}

.profile-info h2 {
  color: #16BBB2;
  font-weight: bold;
  font-size: 30px;
  margin: 0;
  position: relative;
  padding-bottom: 10px;
}

.text-box-container h3, .skills h3, .candidate-note h3, .resume-container h3, .actions h3 {
  color: #16BBB2;
  font-weight: bold;
  font-size: 24px;
}

.text-box-container p, .skills p, .candidate-note p {
  font-size: 15px;
}

.location {
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
  margin-top: 15px;
}

.location-item {
  display: grid;
  justify-items: center;
}

.location-item span {
  font-size: 16px;
  font-weight: 600;
  color: #888e91;
}

.location-item span:nth-child(2) {
  color: #000000;
}

.skill-item {
  display: inline-block;
  padding: 10px 15px;
  background-color: #ffffff;
  border-radius: 50px;
  border: 1px solid #E8E8E8;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-top: 20px;
}
.actions-btn {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 25px;
  justify-content: center;
} 

.resume-container {
  margin-top: 15px;
}

.resume-div {
  display: grid;
  text-align: center;
}

.see-resume {
  color: #16BBB2;
  text-decoration: underline;
  margin-bottom: 30px;
  align-self: center;
  text-align: center;
  justify-self: center;
  font-weight: bold;
  cursor: pointer;
}

.schedule-interview {
  display: inline-block;
  padding: 15px 90px;
  background-color: #7cd3d2;
  color: #ffffff;
  border-radius: 5px;
  font-weight: bold;
  text-decoration: none;
  border: none;
}

.schedule-interview:hover {
  cursor: pointer;
  background-color: #339392;
}

@media (max-width: 768px) {
  .location {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: center;
    padding: 10px;
    margin-top: 15px;
    gap: 20px;
  }
  
  .location-item {
    display: grid;
    justify-items: center;
  }
}