.box {
  position: relative;
  display: grid;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  margin: 10px;
}

.profile-info {
  text-align: center;
}

.profile-info h2 {
  color: #16BBB2;
  font-weight: bold;
  font-size: 2.5rem;
  margin: 0;
}

.profile-info p {
  margin: 5px 0 0;
}

.location {
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
  margin-top: 15px;
}

.location-item {
  display: flex;
  flex-direction: column;
}

.location-item span {
  font-size: 16px;
  font-weight: 600;
  color: #888e91;
}

.location-item span:nth-child(2) {
  color: #000000;
}

.text-box-container {
  display: grid;
  margin-top: 20px;
  padding: 0px;
}

.text-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 20px;
}

.text-box-header {
  grid-column: span 2; 
  font-weight: bold;
  font-size: 1.8rem;
  text-align: center;
  justify-self: center;
  color: #16BBB2;
  margin-top: 20px;
}


.text-box-title {
  font-size: 20px;
  font-weight: bold;
  color: #16BBB2;
}

.div-map {
  justify-self: center;
}

.skills {
  margin-top: 15px;
  /* display: grid; */
  margin-bottom: 15px;
  text-align: center;
  /* justify-items: center; */
}

.skills h3 {
  font-weight: bold;
  margin-bottom: 10px;
}

.skill-item {
  display: inline-block;
  padding: 10px 15px;
  background-color: #ffffff;
  border-radius: 50px;
  border: 1px solid #E8E8E8;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-top: 20px;
}

.candidate-note {
  margin-top: 5px;
}

.candidate-note h3 {
  font-weight: bold;
}

.candidate-note p {
  text-align: center;
  margin: 0;
}

.actions {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 80px;
}

.resume-container {
  margin-top: 15px;
}

.resume-div {
  display: grid;
  text-align: center;
}

.see-resume {
  color: #16BBB2;
  text-decoration: underline;
  margin-bottom: 30px;
  align-self: center;
  text-align: center;
  justify-self: center;
  font-weight: bold;
  cursor: pointer;
}

.schedule-interview {
  display: inline-block;
  padding: 15px 90px;
  background-color: #7cd3d2;
  color: #ffffff;
  border-radius: 5px;
  font-weight: bold;
  text-decoration: none;
  border: none;
}

.schedule-interview:hover {
  cursor: pointer;
  background-color: #339392;;
}
