.about-us2-ab {
    margin: 0;
    position: relative;
    font-size: inherit;
    line-height: 100%;
    font-weight: 700;
    font-family: inherit;
    color: #0148ff;
    text-align: center;
    z-index: 3;
  }
  
  .providing-the-best-ab {
    white-space: normal;
    color: #141414;
    line-height: 45px;
    display: inline-block;
  }

  .devsinc-text {
    color: green; 
    white-space: nowrap; 
  }
  
  .devsinc-providing-the-container-ab {
    align-items: baseline;
    margin: 0;
    position: relative;
    width:700px;
    font-size: 36px;
    line-height: 58px;
    text-transform: capitalize;
    font-weight: 600;
    font-family: inherit;
    z-index: 3;
  }

  
  
  .is-a-uiux-ab {
    color: #1e1e1e;
  }
  
  .devsinc-is-a-container-ab {
    color:green;
    width: 600px;
    position: relative;
    font-size: 14px;
    line-height: 26px;
    display: inline-block;
    z-index: 3;
  }
  
  .contact-us3-ab {
    position: relative;
    font-size: 14px;
    font-weight: 500;
    font-family: Inter;
    color: #fff;
    text-align: center;
  }
  
  .material-symbolsarrow-forward-icon-ab {
    height: 20px;
    width: 20px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    min-height: 20px;
  }
  
  .benefit-cards-frame-ab,
  .button2-ab,
  .text4-ab {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  
  .button2-ab {
    cursor: pointer;
    border: 0;
    padding: 16px 20px;
    background-color: #22b286;
    border-radius: 100px;
    flex-direction: row;
    gap: 0 6px;
    white-space: nowrap;
    z-index: 3;
  }
  
  .button2-ab:hover {
    background-color: #08996e;
  }
  
  .benefit-cards-frame-ab,
  .text4-ab {
    flex-direction: column;
  }
  
  .benefit-cards-frame-ab {
    gap: 20px 0;
  }
  
  .text4-ab {
    padding: 20px 0 0;
    box-sizing: border-box;
    min-width: 572px;
    max-width: 100%;
  }
  
  .frame-features-ab {
    position: absolute;
    top: 20px;
    left: 40px;
    border-radius: 10px 10px 0 0;
    background-color: #f2f2f2;
    width: 474px;
    height: 474px;
    z-index: 3;
  }
  
  .rectangle-image-b-g-ab,
  .rectangle-image-b-g1-ab {
    position: absolute;
    top: 268px;
    left: 0;
    border-radius: 10px;
    width: 376px;
    height: 246px;
    object-fit: cover;
    z-index: 4;
  }
  
  .rectangle-image-b-g1-ab {
    top: 0;
    left: 178px;
  }
  
  .frame-home-about-career-page-c-ab {
    height: 514px;
    width: 554px;
    position: relative;
    min-width: 554px;
    max-width: 100%;
  }
  
  .section-frame-ab {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 0 20px;
    box-sizing: border-box;
    gap: 0 74px;
    max-width: 100%;
    text-align: left;
    font-size: 60px;
    color: #22b286;
    font-family: Inter;
  }
  
  @media screen and (max-width: 1350px) {
    .frame-home-about-career-page-c-ab,
    .text4-ab {
      flex: 1;
    }
    .section-frame-ab {
      flex-wrap: wrap;
      gap: 0 74px;
    }
  }
  
  @media screen and (max-width: 800px) {
    .about-us2-ab {
      font-size: 48px;
      line-height: 51px;
    }
    .devsinc-providing-the-container-ab {
      font-size: 29px;
      line-height: 46px;
    }
    .frame-home-about-career-page-c-ab,
    .text4-ab {
      min-width: 100%;
    }
    .section-frame-ab {
      gap: 0 74px;
    }
  }
  
  @media screen and (max-width: 450px) {
    .about-us2-ab {
      font-size: 34px;
      line-height: 38px;
    }
  }
  