.footer-real {
    width: 100%;
    display: grid;
}

.footer-text-container-real {
    background-color: #7cd3d2;
    width: 95%;
    height: 80px;
    margin-top: 25px;
    margin-bottom: 25px;
    justify-self: center;
    display: grid;
    grid-template-columns: 25% 75%;
    align-items: center;
}

.devsinc-real {
    justify-self: start;
    padding-left: 50px;
}

.company-2022-real {
    position: absolute;
    justify-self: center;
}

.devsinc-real, .company-2022-real {
    font-size: 17px;
    font-family: Actor;
    color: #fff;
}