/* Example responsive CSS */
body, html {
  margin: 0;
  width: 100%;
  height: 100%;
}

.JobDesHeading {
  position: relative;
  width: 100%;
  height: 350px;
  margin-top: -10px;
  /* background-image: url('C:\Users\alish\OneDrive\Documents\VsCode\SE\recruitment-and-onboarding-project\client\src\images\Heading-pic.jpg'); */
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: grid;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  justify-items: center;
}

.JobDesHeading::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(5, 22, 49, 0.9);
  z-index: 1; 
}

.Heading-Name, .Heading-Location {
  justify-self: center;
  text-transform: uppercase;
  font-family: inherit;
  color: white;
  position: relative; /* Ensure text appears above the overlay */
  z-index: 2; /* Set a higher z-index for the text elements */
}

.Heading-Name {
  align-self: end;
  font-size: 40px;
  font-weight: 400;

}

.Heading-Location {
  align-self: start;
}
