html, body {
    height: 100%;
    margin: 0;
}

.Login {
    display: grid;
    grid-template-columns: 1fr 1fr; /* 2 columns in desktop mode */
    height: 100vh;
}

.Img-Part {
    display: flex;
    background-color: #7CD3D2;
    align-items: center; /* Center image vertically */
    justify-content: center; /* Center image horizontally */
}

img {
    max-width: 80%; /* Max width limit to prevent stretching */
    max-height: 80%; /* Max height limit to maintain aspect ratio */
    width: auto;  /* Auto width for maintaining aspect ratio */
    height: auto; /* Auto height for maintaining aspect ratio */
}

.Title, .Headings, .Welcome {
    color: #3751FE;
    font-weight: 700;
}

.Title {
    font-size: 30px;
    padding-left: 50px;
    align-self: end;
}

.Headings {
    font-size: 30px;
    text-align: center;
    justify-self: center;
}

.Welcome {
    font-size: 18px;
    align-self: start;
    text-align: center;
    justify-self: center;
}

.Input-Form {
    align-self: start;
    display: grid;
}

.input-div {
    display: grid;
    gap: 20px;
}

.custom-user-inp {
    width: 70%;
    justify-self: center;
    border: 1px solid #e5e5e5;
    height: 50px;
    border-radius: 5px;
}

.Form-Div {
    display: grid;
}

.login-btn, .signup-btn {
    width: 100px;
    height: 35px;
    margin-top: 25px;
    justify-self: center;
}

.Link {
    display: grid;
    justify-self: center;
    text-decoration: none;
}

.custom-error {
    justify-self: center;
    color: red;
}

.login-btn {
    background-color: #3751FE;
    color: white;
}

.signup-btn {
    background-color: white;
    color: #0C31F1;
    border: 1.5px solid #3751FE;
}

.signup-btn:hover {
    cursor: pointer;
    background-color: #e5e5e5;
}

.Input-Container {
    display: grid;
    grid-template-rows: 1fr 2fr 0.5fr 3fr;
    align-items: center;
}

/* Media Queries for Tablet */
@media (max-width: 768px) {
    .Login {
        grid-template-columns: 1fr; /* Single column for smaller devices */
    }

    .Img-Part, .Input-Container {
        width: 100%;
    }

    .Input-Form, .Form-Div, .input-div {
        width: 80%;
        justify-self: center;
    }

    .custom-user-inp {
        width: 100%;
    }

    img {
        max-width: 60%; /* Smaller max width for tablets */
        max-height: 60%; /* Smaller max height for better aspect ratio */
    }
}

/* Media Queries for Mobile */
@media (max-width: 480px) {
    .Title, .Headings {
        font-size: 20px;
    }

    .Welcome {
        font-size: 16px;
    }

    .login-btn, .signup-btn {
        width: 80px;
        height: 30px;
    }

    img {
        max-width: 80%; /* Slightly larger for mobile */
        max-height: 80%;
    }
}