.our-careers {
    margin: 0;
    position: relative;
    font-size: xx-large;
    font-weight: 400;
    font-family: inherit;
    color: blue;
  }
  .software-development-group {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-12xs) 0 var(--padding-4xl);
  }
  .our-careers-section {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 52px 0;
    max-width: 100%;
    text-align: left;
    font-size: var(--font-size-21xl);
    color: var(--color-mediumblue);
    font-family: var(--font-actor);
  }
  @media screen and (max-width: 1050px) {
    .our-careers {
      font-size: var(--font-size-13xl);
    }
  }
  @media screen and (max-width: 750px) {
    .our-careers-section {
      gap: 52px 0;
    }
  }
  @media screen and (max-width: 450px) {
    .our-careers {
      font-size: var(--font-size-5xl);
    }
  }